*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bgCardContainer: #333;
    --h1TextColor: #333;
    --h2BgColor: #333;
    --h2TextColor: #fff;
    --h3TextColor: #555;
    --pokemonImgContainer: #fff;
    --pokemonDescription: #e7e7e7;
}

body{
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 10px;
}

.form{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.form > input{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
    font-size: .9em;
}

.form > input:focus{
    outline: none;
}

.form > button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.form > button:hover{
    background-color: #444;
}

.card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--bgCardContainer);
    border-radius: 10px;
    height: 80%;
    width: 30%;
}

.pokemon-image_container{
    width: 95%;
    height: 60%;
    background-color: var(--pokemonImgContainer);
    border-radius: 5px 5px 0px 0px;
    margin-top: 2.5%;
    position: relative;
}

.pokemon-image{
    width: 100%;
    height: 100%;
    background-image: url('../images/pokemons/poke_1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-number{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 0px 0px 5px 0px;
    background-color: var(--bgCardContainer);
    color: #fff;
}

.pokemon-number > p{
    font-size: 1.1em;
    font-weight: 600;    
}

.pokemon-description{
    background-color: var(--pokemonDescription);
    width: 95%;
    height: 35%;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 2.5%;
    overflow: hidden;
}

.pokemon-name_and_type{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    overflow: hidden;
    gap: 10px;
}

.pokemon-name_and_type > .type{
    display: flex;
    gap: 5px;
}

.pokemon-name_and_type > .name > h1{
    color: var(--h1TextColor);
    font-size: 1.55em;
    font-weight: bold;
}

.pokemon-name_and_type > .type > h2{
    font-size: 1em;
    font-weight: 700;
    background-color: var(--h2BgColor);
    color: var(--h2TextColor);
    padding: 5px 8px;
    border-radius: 30px;
}

.pokemon-base_experience{
    display: flex;
    align-items: flex-start;
    height: 15%;
}

.pokemon-base_experience > h3{
    font-size: .95em;
    font-weight: 400;
    color: var(--h3TextColor);
}

.pokemon-stats{
    width: 100%;
    margin-top: 2.5%;
}

.pokemon-stats > .stats-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: initial;
    width: 100%;
}

.stat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: #fff;
    font-size: .8em;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
